<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1543489822-c49534f3271f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80);">
  <div class="container">
    <h1>SwimSwamSwum brings <strong>pools</strong> to <strong>fun people</strong>!</h1>
    <p>Change your afternoon and rent a pool with your friends.</p>
    <%= link_to "Start now", pools_path, class: "btn btn-ghost" %>
  </div>
</div>

<!-----------------------------End--Banner------------------------------------>

<!----------------------------------Cards && Map ----------------------------------->




<p>hello</p>

<div class="card-container">
    <% @pools.sample(6).each do |pool| %>
        <div class="card-pool">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-pool-infos">
            <div>
            <h2><%= pool.name %></h2>
            <p>Short description here!</p>
            </div>
            <h2 class="card-pool-pricing">£<%= pool.price %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-pool-user avatar-bordered" />
        </div>
        </div>
    <% end %>
</div>

<div class="btn-see-more-container">
    <%= link_to "See more", pools_path, class: "btn btn-see-more" %>
</div>


<!----------------------------------------End-Cards----------------------------------------->